node_modules
myenv
.env
.env.local
__pycache__
.vscode/
.DS_Store
*.log
dist/
build/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
.pytest_cache/
.mypy_cache/
.tox/
coverage/
pip-wheel-metadata/
venv/
env/
.idea/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.parcel-cache/
.next/
.nuxt/
.expo/
.cache/
.env.*
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig
*.rej
*.sublime-*
*.vscode/
.history/
Thumbs.db
.env.development.local
.env.test.local
.env.production.local
bower_components/
.sass-cache/
*.pot
*.mo
*.tgz
*.gz
*.zip
*.tar
*.rar
*.7z
models/language/.locks
models/language/models--*
models/embedding/.locks
models/embedding/models--*